services:
  backend_dev:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "${HOST_PORT_DEV}:8000" # FastAPI
      - "${DEBUG_PORT}:5678" # Debugpy
    volumes:
      - ../:/weaver
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db_dev:5432/${POSTGRES_DB}
      - ALPACA_PAPER_API_KEY=${ALPACA_PAPER_API_KEY}
      - ALPACA_PAPER_API_SECRET=${ALPACA_PAPER_API_SECRET}
      - ALPACA_PAPER_BASE_URL=${ALPACA_PAPER_BASE_URL}
    depends_on:
      db_dev:
        condition: service_healthy
    command: >
      python -m debugpy --listen 0.0.0.0:5678 -m uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend_dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "${FRONTEND_PORT_DEV}:5173" # Vite dev server
    volumes:
      - ../:/weaver # Share entire project for code editing
      - frontend_node_modules:/weaver/haro/node_modules # Persist node_modules in named volume
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - backend_dev
    working_dir: /weaver/haro

  db_dev:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT_DEV}:5432" # PostgreSQL
    volumes:
      - weaver_dev_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  weaver_dev_postgres_data:
  frontend_node_modules:
